*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


##
/target


#InteliJ
/.idea/workspace.xml
/.idea/tasks.xml
*.iws
*.iml


# Frontend

#js libraries
/bower_components
/node_modules
/npm-debug.log

#frontend assets
/assets/js/vendor
/assets/css
!/assets/css/.gitkeep
/src/main/webapp/assets/
!/src/main/webapp/assets/.gitkeep


# Vagrant
/.vagrant
/provisioning